{# This is a workaround so that we get the jails correctly indented -#}
{%- set max_key_length = [] -%}
{%- for config in fail2ban_jails|map(attribute='config') %}
  {%- for key, val in config.iteritems() -%}
    {%- if max_key_length.append(key | length) %}{% endif %}
  {%- endfor %}
{%- endfor %}
{%- set max_key_length = max_key_length | max %}

{%- for jail in fail2ban_jails %}
  {% set jail_vars = {}}

  {% for key, value in jail.config.iteritems() %}
    {%- set var = {} %}
    {%- if value is iterable %}
      {%- if (key == 'actions') %}
        {%- set key = 'action' %}
      {%- endif %}
    {%- endif %}

    {%- if (jail_vars.update(key, value)) %}{%- endif %}
  {%- endfor %}
{%- endfor %}
{% for key, value in jail_vars.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
